In [23]:
#abs(x)
print(abs(10))
print(abs(-10))
print(abs(10.2))

#ceil
s={(1,2,3),1,2,1,2}
print(id(s))
s.add((3))
print(id(s))
print(s)

set1= set ()
type(set1)

hawaii_airports = set(['HNL', 'ITO'])
pacific_airports = {'HNL', 'NRT'} 
hawaii_airports.add('LNY') 
pacific_airports.add('SYD') 
hawaii_airports

10
10
10.2
19350872
19350872
{1, 2, 3, (1, 2, 3)}

{'HNL', 'ITO', 'LNY'}

In [25]:
list3=[123,234,[546,678]]
546 in list3

False

In [29]:
abc=123
xyz=abc
abc is xyz

True

In [41]:
one =1
two =2
three =3
if (one ==1 and two == 3):
 print ('I  am true')
elif (one <10):
    print('I am less than 10')
elif (one <20):
    print('I am ')
    
print (one, 'hello world:',two, 'kjdshjj')

I am less than 10
1 hello world: 2 kjdshjj

In [47]:
air=[123,234,456,678]
for air1 in air :
    airopalne=30
    air1=air1+airopalne
    print (air1)
air1   
airopalne

153
264
486
708

30